/* Created by: Mohamad
* Created on: Sep 2023
* This file contains the CSS for index.html
*/

.page-content {
  padding: 0px;
}

.donut {
  float: right;
  width: 300px;
}

.mdl-layout__content {
  padding: 5px;
}

.mdl-radio {
  margin-left: 0 !important;
}
